body {
    font-family: fantasy;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }

  
.title-container {
    text-align: center;
    margin-top: 40px;
  }
  
  .title-box {
    background-color: #ffcb05;
    border-radius: 10px;
    padding: 6px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    font-size: 48px;
    color: #e50000;
    margin-top: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Añadimos sombra al texto */
    margin-bottom: 20px;
  }

  .volver {
    margin-left: 20px;
    background-color: #ffcb05;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .volver:hover {
    background-color: #ffea00;
    transform: scale(1.05);
  }
  
  #types {
    text-align: center;
    margin-top: 20px;
  }
  
  .type {
    font-family: fantasy;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #ffcb05;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .type:hover {
    background-color: #ffea00;
  }
  
  #pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  
  .pokemon {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .pokemon:hover {
    transform: translateY(-5px);
  }
  
  .pokemon img {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto 10px;
  }
  
  .pokemon p {
    text-align: center;
    font-weight: bold;
    color: #333;
  }
  